body {
    font-family: 'Lato', sans-serif;
    border: 20px solid #BDC3C7;
    padding: 2%;
    border-radius: 20px; 
    width: 80vw;
}
h2 {
    letter-spacing: 3.2px;
    font-weight: 700;
    font-size: 48px;
    color: #3D3D3D;
}
.one {
    text-align: right;
    color: #3498DB;
    text-transform: uppercase;
}
.two {
    text-align: right;
}
.three {
    text-align: right;
}
.four {
    text-align: right;
}
.five {
    border-bottom: 20px solid #BDC3C7;
    border-top: 20px solid #BDC3C7;
    text-align: center;
    padding: 3%;
}
h2:hover {
    letter-spacing: 1vmax;
}